container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python kevinhlau/manage.py migrate --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: kevinhlau/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: kevinhlau.settings.prod
