{% extends "./base.html" %}

{% load i18n %}

{% block content-title %}<h1>{% trans "Accomodations" %}</h1>{% endblock content-title %}

{% block content %}

<div class="row marketing">
    <div class="col-lg-12">
        <h4>Double Tree</h4>
        <a class="btn btn-link" role="button" href="https://goo.gl/maps/LKKYYMyFNsD2">1800 S Santan Village Pkwy, Gilbert, AZ 85295</a><br>
        <a class="btn btn-link" role="button" href="http://doubletree3.hilton.com/en/hotels/arizona/doubletree-by-hilton-hotel-phoenix-gilbert-PHXSTDT/maps-directions/index.html">Website</a>
        <h4>Hyatt Place</h4>
        <a class="btn btn-link" role="button" href="https://goo.gl/maps/wg6MFe5LVyA2">3275 S Market St, Gilbert, AZ 85297</a><br>
        <a class="btn btn-link" role="button" href="https://gilbert.place.hyatt.com/en/hotel/home.html">Website</a>
    </div>
</div>


{% endblock content %}
