
<!DOCTYPE html>
<html lang="en">
  <head>

    {% load static %}
    {% load i18n %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'wedding/img/favicon.png' %}"/>

    <title>{% block title %}Kevin and Melissa{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'wedding/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="{% static 'wedding/css/jumbotron-narrow.css' %}" rel="stylesheet">
    <link href="{% static 'wedding/css/justified-nav.css' %}" rel="stylesheet">
    <link href="{% static 'wedding/css/styles.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'wedding:index' %}">{% trans "Kevin and Melissa" %}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'wedding:index' %}">{% trans "Wedding" %}</a></li>
                <li><a href="{% url 'wedding:rsvp' %}">{% trans "RSVP" %}</a></li>
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'en' %}
                <li><a href="{% url 'wedding:registry' %}">{% trans "Registry" %}</a></li>
                {% endif %}
                <li><a href="{% url 'wedding:accomodations' %}">{% trans "Accomodations" %}</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    {% block jumbo-picture %}{% endblock jumbo-picture %}
      
    <div class="container">
      <!-- <div class="masthead">
        <h1 class="text-muted main-title">{% trans "Kevin and Melissa" %}</h1>
      </div> -->
            
      <div class="row marketing">
        <div class="col-lg-12">
          {% block content-title %}{% endblock content-title %}
        </div>
      </div>

      {% block content %}{% endblock content %}

        <form action="{% url 'set_language' %}" method="post" style="position: fixed; right: 15px; bottom: 15px">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
        </form>

      <footer class="footer">
        <p>Made by Kevin</p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'wedding/js/bootstrap.min.js' %}"></script>
    <script>
      $(document).ready(function() {
        $('.nav li a[href="' + this.location.pathname + '"]').parent().addClass('active');
      });
      
      $(".nav li a").on("click", function(){
        $(".nav").find(".active").removeClass("active");
        $(this).parent().addClass("active");
      });
    </script>
    {% block scripts %}{% endblock scripts %}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
