{% extends "./base.html" %}

{% load i18n %}
{% load static %}

{% block jumbo-picture %}
    <div class="jumbotron">
        <!-- <p class="lead"></p> -->
        <!-- <img src="http://placekitten.com/g/550/400"/> -->
        <img src="{% static 'wedding/img/stairs_550_367.jpg' %}" alt="Imagine a cute couples picture" />
        <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->

        <!-- Work in progress -->

      <!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img data-src="holder.js/1140x500/auto/#777:#555/text:First slide" alt="Imagine a cute couples picture" src="{% static 'wedding/img/stairs_550_367.jpg' %}" data-holder-rendered="true">
          </div>
          <div class="item">
            <img data-src="holder.js/1140x500/auto/#666:#444/text:Second slide" alt="Imagine another cute couples picture" src="{% static 'wedding/img/table_550_367.jpg' %}" data-holder-rendered="true">
          </div>
          <div class="item">
            <img data-src="holder.js/1140x500/auto/#555:#333/text:Third slide" alt="Keep imagining" src="{% static 'wedding/img/stairs_forehead_550_367.jpg' %}" data-holder-rendered="true">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> -->

    </div>
{% endblock jumbo-picture %}

        

{% block content-title %}{% trans "Wedding" %}{% endblock content-title %}

{% block content %}

<div class="row marketing">
    <div class="col-lg-12">
        <h4 id="location">{% trans "Gilbert, AZ" %}</h4>
        <h4 id="wedding_date">{{ wedding_date }}</h4>
    </div>
</div>

{% endblock content %}
